.Item {
    height: 115px auto;
    margin: 15px;
    padding-bottom: 15px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}

.Item a{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    word-wrap: row wrap;
}

.Thumbnail {
    width: 100px;
    height: 100px;
    margin-right: 50px;
    text-align: center;
}

.Thumbnail img {
    width: auto;
    height: 100%;
    max-width: 100px;
}

.Toggle { 
    padding: 0;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    display: block;
    color: grey;
}
.Toggle:hover { 
    cursor: pointer;
}

.Available {
    color: green;
}