.Toolbar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0b0c10;
    height: 56px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    justify-content: space-between;
    padding: 0px 20px;
    z-index: 90;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.Logo {
    height: 70%;
    width: auto;
}

.Logo img {
    height: 100%;
}