.NavigationItem {
    color: white;
    text-decoration: none;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 16px 10px;
}

.NavigationItem a {
    text-decoration: none;
    border-bottom: 4px solid transparent;
    color: white;
    height: 100%;
}

.NavigationItem:active,
.NavigationItem:hover,
.NavigationItem active {
    color: #66fcf1;
    border-bottom: 4px solid #66fcf1;
}

.NavigationItem a active {
    color: #66fcf1;
    border-bottom: 4px solid #66fcf1;
}


