.Modal {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    left: 0;
    right: 0;
    z-index: 500;

    background-color: white;
    width: 420px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 30px;
    transition: all 0.3s ease-out;
    display: block;
    border-radius: 15px;
}