.AdForm {
    margin: 20px 40px;
}

.AdForm label{
    display: block;
    margin: 20px 0;
}

.AdForm input {
    width: 400px;
    padding: 20px 10px;
}

.AdForm textarea {
    width: 400px;
    max-width: 400px;
    height: 80px;
    padding: 20px 10px;
}

.SubmitBtn {
    width: 400px;
    border: none;
    color: #66fcf1;
    background: #0b0c10;
    font-size: 1.1em;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
}
